* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  width: 100%;
  height: 5000px;
}
li {
  list-style: none;
}
/* 修饰滚动条 */
::-webkit-scrollbar {
  width: 5px;
  height: 12px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border: 1px solid #ccc;
}

/* 头部 */
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: transparent;
}
header .logo {
  text-align: center;
  flex: 1;
}
nav {
  flex: 4;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul li{
  padding: 0 6px 8px 6px;
}
nav ul li{
    position: relative;
}
nav ul li:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0px;
  display: block;
  height: 2px;
  width: 0%;
  background-color: #fff;
  transition: all .5s ease;
}
nav ul li:hover::after{
  width: 100%;
}

nav ul li:nth-child(1)::after {
  width: 100%;
}

header .tele {
  text-align: center;
  flex: 1;
  font-size: 22px;
}
header .tele::before {
  content: "";
  display: inline-block;
  width: 19px;
  height: 18px;
  background: url("/src/icon1.png") no-repeat center center; 
  background-size: contain;
  margin-right: 8px;
}
/* 轮播图 */
.lun {
  position: relative;
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide .caption {
  position: absolute;
  top: 300px;
  left: 130px;
}
.caption h3 {
  text-align: left;
  font-size:30px;
  line-height: 1.3;
  color: #fff;
  font-weight: 400;
}
.caption h3 span {
  font-weight: 700;
  display: block;
  font-size: 48px;
  margin-bottom: 10px;
}


/* 企业标语 */
.slogan {
  position: relative;
  /* width: 100%; */
  padding: 0 40px 54px;
  margin-top: 50px;
}
.slogan .bdl {
  font-size: 70px;
  line-height: 70px;
  color: #000;
}
.slogan .title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  color: #222;
  margin-bottom: 23px;
}
.slogan .txt {
  width: 685px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
}
.slogan .bdr {
  font-size: 70px;
  line-height: 70px;
  color: #000;
  display: table;
  position: absolute;
  right: 40px;
  top: 110px;
}
.slogan .bdr span {
  width: 300px;
  height: 3px;
  background: #222;
  display: inline-block;
  position: absolute;
  top: 9px;
  right: 65px;
}

/* 优势列表 */
.advantage-list ul{
  display: flex;
  margin:0 60px 50px;
  border-bottom: 2px solid #000;
  padding-bottom: 60px;
}
.advantage-list ul li {
  border-radius: 15px;
  padding: 50px 25px;
  width: 23%;
}
.advantage-list ul li:nth-child(-n + 3) {
  margin-right: 40px;
}
.advantage-list .youshi-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
}
.advantage-list li:nth-child(1) .youshi-icon {
  background: url("/src/icon8.png") no-repeat center center;
}
.advantage-list li:nth-child(2) .youshi-icon {
  background: url("/src/icon9.png") no-repeat center center;
}
.advantage-list li:nth-child(3) .youshi-icon {
  background: url("/src/icon10.png") no-repeat center center;
}
.advantage-list li:nth-child(4) .youshi-icon {
  background: url("/src/icon11.png") no-repeat center center;
}
.advantage-list ul li:hover {
  background-color: #21abd7;
}
.advantage-list ul li:nth-child(1):hover .youshi-icon {
    background: url("/src/icon12.png") no-repeat center center;
} 
.advantage-list ul li:nth-child(2):hover .youshi-icon {
    background: url("/src/icon13.png") no-repeat center center;
} 
.advantage-list ul li:nth-child(3):hover .youshi-icon {
    background: url("/src/icon14.png") no-repeat center center;
} 
.advantage-list ul li:nth-child(4):hover .youshi-icon {
    background: url("/src/icon15.png") no-repeat center center;
} 

.advantage-list .youshi-title {
    font-size: 24px;
    color: #222;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 28px;
}
.advantage-list .youshi-txt {
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

/* 网站案例 */
.web-case {
  position: relative;
  margin: 0 60px 50px;
}
.web-case .web-case-title {
  font-size: 36px;
  line-height: 36px;
  color: #222;
  font-weight: bold;
}
.web-case .web-case-menu {
  margin: 30px 0;
}
.web-case-menu ul {
  display: flex;
}
.web-case-menu ul li {
  margin: 0 5px;
  padding: 5px 20px;
  border: 1px solid #666;
  color: #666;
  border-radius: 15px;
}
.web-case-menu ul li:nth-child(1) {
  margin-left: 0;
  background: #222;
  color: #fff;
}
.web-case-more {
  position: absolute;
  top: 72px;
  right: 0px;
}
.web-case-card ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.web-case-card ul li {
  width: 32%;
  height: 100%;
  margin: 0 0 30px 0;
  border: 1px solid #e3e3e3;
}
.web-case-card-img {
    overflow: hidden;
}
.web-case-card img {
  display: block;
  width: 450px;
  height: 300px;
  transition: all 0.5s ease;
  scale: 1.0;
}
.web-case-card ul li:hover img{
  scale: 1.2;
}
.web-case-card-box {
  padding: 20px 20px 0;
}
.web-case-card-title .t1 {
  font-weight: bold;
  color: #222;
}
.web-case-card-title .t2 {
  font-size: 14px;
  color: #666;
  padding: 15px 0;
  border-bottom: 2px solid #e3e3e3;
}
.web-case-card-more{
  color: #6f6f6f;
  margin: 10px 0;
  font-size: 14px;
  background: url(/src/icon21.png) no-repeat right;
}
/* 页脚-上 */
.footer-top {
  background-color: #383637;
  padding: 50px;
}
.footer-top ul {
  display: flex;
  justify-content: space-around;
}
.footer-top ul li {
  width: 18%;
  margin: 0 20px
}
.footer-top-title {
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid rgba(255,255,255,.08);
  padding-bottom: 12px;
}
.footer-top-txt {
  font-size: 14px;
  line-height: 28px;
  padding-top: 22px;
  color: #999;
}
.footer-top-more {
  width: 96px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: 1px solid #504f4f;
  border-radius: 16px;
  color: #666;
  font-size: 12px;
  margin:20px 0;
}
.footer-top-txt a {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #999;
  width: 49%;
}
.footer-top-txt a:hover {
  color: #fff;
}
.footer-top-demo img {
  width: 100px;
  height: 60px;
}
.footer-top-demo .demo{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.footer-top-demo .demo:nth-child(1) {
  border-bottom: 2px dotted #494848;
}
.demo-title {
  color: #fff;
  font-weight: bold;
}
/* 页脚中部 */